.intro {
  background-image: linear-gradient(
    to right bottom,
    rgb(249, 239, 9),
    rgb(249, 109, 9),
    rgb(116, 8, 166)
  );
}

.intro [data-container] {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  grid-template-areas: "box animation";
  min-height: 320px;
}

.box {
  grid-area: box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.animation {
  grid-area: animation;
}

.card {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  width: 90%;
  min-height: 120px;
  padding: 2rem;
}

.card div {
  margin-bottom: 8px;
}

.card h1 {
  font-size: 42px;
  color: #1d1d1f;
  line-height: 1.15;
  letter-spacing: -0.035em;
  font-weight: 800;
}

.card p {
  color: #333;
  font-size: 17px;
  padding: 8px 0;
}
